.tim-row{
    margin-bottom: 20px;
}

.tim-white-buttons {
    background-color: #777777;
}
.typography-line{
    padding-left: 25%;
    margin-bottom: 35px;
    position: relative;
    display: block;
    width: 100%;
}
.typography-line span{
    bottom: 10px;
    color: #c0c1c2;
    display: block;
    font-weight: 400;
    font-size: 13px;
    line-height: 13px;
    left: 0;
    position: absolute;
    width: 260px;
    text-transform: none;
}
.tim-row{
    padding-top: 60px;
}
.tim-row h3{
    margin-top: 0;
}

.offline-doc .page-header{
  display: flex;
  align-items: center;
}

.offline-doc .footer{
  position: absolute;
  width: 100%;
  background: transparent;
  bottom: 0;
  color: #fff;
  z-index: 1;
}

#map {
  position: relative;
  width: 100%;
  height: 100vh;
}

.logo-container-new {
    width: 27px;
    height: 27px;
    overflow: hidden;
    margin: 0 auto;
    border-radius: 50%;
    border: 1px solid transparent
}

div.logo-container > img {
    width: 124px;
    height: 142px;
}

#row-image {
    background-size: cover;
    background-position: 50%
}

#row-image {
    position: absolute;
    z-index: 1;
    height: 100%;
    width: 100%;
    display: block;
    top: 0;
    left: 0
    
}

.full-page2 > .content, .full-page2 > .footer {
    position: relative;
    z-index: 4
}

.full-page2.section-image {
    position: static
}

.full-page2 > .content {
    padding-bottom: 150px;
    padding-top: 150px
}

.full-page2 .footer {
    position: absolute;
    width: 100%;
    bottom: 0
}

    .full-page2 .footer .container {
        color: #fff
    }

.full-page2 .full-page-background {
    background-size: cover;
    background-position: 50%
}

.full-page2 .full-page-background, .full-page2:after {
    position: absolute;
    z-index: 1;
    height: 100%;
    width: 100%;
    display: block;
    top: 0;
    left: 0
}

/*.full-page  {
    background-size: cover;
    background-position: 50%
}

.full-page  {
    position: absolute;
    z-index: 1;
    height: 100%;
    width: 100%;
    display: block;
    top: 0;
    left: 0
}
*/
.full-page2:after {
    content: "";
    background-color: rgba(0,0,0,.6)
}

.full-page2.pricing-page .description {
    margin-bottom: 65px
}

.full-page2.register-page .info-horizontal {
    padding: 0 0 20px;
    text-align: left !important
}

    .full-page2.register-page .info-horizontal .icon {
        margin-top: 0
    }

        .full-page2.register-page .info-horizontal .icon > i {
            font-size: 2em
        }

        .full-page2.register-page .info-horizontal .icon.icon-circle {
            width: 65px;
            height: 65px;
            max-width: 65px;
            margin-top: 8px
        }

            .full-page2.register-page .info-horizontal .icon.icon-circle i {
                display: table;
                margin: 0 auto;
                line-height: 3.5;
                font-size: 1.9em
            }

    .full-page2.register-page .info-horizontal .description {
        overflow: hidden
    }

.full-page2:after {
    content: "";
    background-color: rgba(0,0,0,.6)
}

.full-page2.pricing-page .description {
    margin-bottom: 65px
}

.full-page2.register-page .info-horizontal {
    padding: 0 0 20px;
    text-align: left !important
}

    .full-page2.register-page .info-horizontal .icon {
        margin-top: 0
    }

        .full-page2.register-page .info-horizontal .icon > i {
            font-size: 2em
        }

        .full-page2.register-page .info-horizontal .icon.icon-circle {
            width: 65px;
            height: 65px;
            max-width: 65px;
            margin-top: 8px
        }

            .full-page2.register-page .info-horizontal .icon.icon-circle i {
                display: table;
                margin: 0 auto;
                line-height: 3.5;
                font-size: 1.9em
            }

    .full-page2.register-page .info-horizontal .description {
        overflow: hidden
    }
